.card{
    padding: 0;
    margin: 0;
    border:0 ;
    background-color: white;
    border-radius: 0px;

}
.card-title.h5{
    font-family: "Gloock", serif;
}
.card-body{
    padding: 10px 0 10px 0;
}
.card-img{
    border-radius: 0px;
}
#small-card{
    .card-img-top {
        width: 30%;
    }
}
#different-news{
    position: relative;
    .card-title.h5 {
        position: absolute;
        bottom: 20%;
    }
    .position{
        position: absolute;
        bottom: 3%;
    }
}

#simple-card{
    position: relative;
    .card-header:first-child {
        position: absolute;
        bottom: 30%;
    }
    .card-title.h5 {
        position: absolute;
        bottom: 10%;
    }
}
