#about-us-carousel {
    .carousel-control-next-icon{
        position: absolute;
        top: 0;
    }
}
#latest-news-carousel  {
  position: relative;
  .position{
    position: absolute;
    z-index: 1;
    top:10%;
    left: 5%;
  }
  .left{
    position: absolute;
    z-index: 1;
    top:10%;
    right: 13%;

  }
  .right{
    position: absolute;
    z-index: 1;
    top:10%;
    right: 5%;
  }


}
