#about-us-carousel {
    .carousel-control-next-icon{
        position: absolute;
        top: 0;
    }
}
/**.carousel-container {
    position: relative;
  }
  
  .carousel-control-top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  
  .carousel-control-top-right .carousel-control-prev,
  .carousel-control-top-right .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-control-top-right .carousel-control-prev-icon,
  .carousel-control-top-right .carousel-control-next-icon {
    filter: invert(1);
  }
  
  .carousel-control-top-right .carousel-control-prev {
    left: auto;
    right: 50px;
  }
  
  .carousel-control-top-right .carousel-control-next {
    left: auto;
    right: 0;
  }*/