h1,h2,h3,h4,h5,h6{
    @extend .mb-0;
}


#navbar-typography{
    .active{
        color: $primary;
    } 
}

.fs-10px{
    font-size: 10px;
}
.fs-20px{
    font-size: 15px;
}
.fs-25px{
    font-size: 25px;
}


#header-typography{
    h6{
        font-weight: bolder;
    }
}

.title-without-corner{
    width: fit-content;
    padding: 5px 20px 5px 5px;
    color: $white;
    -webkit-clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0, 75% 0);
    clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0, 75% 0);
    background: $primary;
    display:flex;
    align-items: center;
    font-weight: bold;
    &.danger{
        background: $danger;
    }
}
.title-without-corner-white{
      width: fit-content;
      padding: 5px 20px 5px 5px;
      color: $primary;
      -webkit-clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0, 75% 0);
      clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0, 75% 0);
      background: white;
      display:flex;
      align-items: center;
      font-weight: bold;
     
     

}


.social-column{
    border-right: 1px solid #C7C8C9; 
    padding: 0;
}
.social-icons-f{
    color: #0E69F8;
    margin-left: 2px;
    @extend .fs-20px

}
.social-icons-t{
    color: #03CBFF;
    @extend .fs-20px

}
.social-icons-i{
    color: #FF037B;
    @extend .fs-20px
}
.social-icons-y{
    color: #C60000;
    @extend .fs-20px
}
.tags{
    border: 1px solid #C7C8C9;
    padding: 2px;
    font-size: 15px;
}
.google-story-img-d{
    width: 100%;
    padding: 2px;
    border: 1px solid $danger;
    border-radius: 100%;
}
.google-story-img{
    width: 100%;
    padding: 2px;
    border: 1px solid #C7C8C9;
    border-radius: 100%;
}
.left-border{
    border-left: 1px solid #637E8F;
}
.line-color{
    color: #637E8F;
}
.columnist-img{
    width: 30%;
    border-radius: 100%;
}

#different-news{
    position: relative;
    
    
}