h1,h2,h3,h4,h5,h6{
    @extend .mb-0;
}


#navbar-typography{
    .active{
        color: $primary;
    } 
}

.fs-10px{
    font-size: 10px;
}
.fs-20px{
    font-size: 20px;
}
.fs-25px{
    font-size: 25px;
}


#header-typography{
    h6{
        font-weight: bolder;
    }
}

.title-without-corner{
    // width: 100%;
    width: fit-content;
    // min-height: 100%;
    padding: 5px 20px 5px 5px;
    color: $white;
    -webkit-clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0, 75% 0);
    clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0, 75% 0);
    background: $primary;
    display:flex;
    align-items: center;
    font-weight: bold;
    &.danger{
        background: $danger;
    }
}
.social-icons-f{
    color: #0E69F8;
    @extend .fs-20px

}
.social-icons-t{
    color: #03CBFF;
    @extend .fs-20px

}
.social-icons-i{
    color: #FF037B;
    @extend .fs-20px
}
.social-icons-y{
    color: #C60000;
    @extend .fs-20px
}

