#navbar-typography{
    .active{
        color: $primary;
    } 
}

.fs-10px{
    font-size: 10px;
}

#header-typography{
    h6{
        font-weight: bolder;
    }
}

#largeCardTitle{
    font-family: "Gloock", serif;
}