/* The following block can be included in a custom.scss */

/* make the customizations */
$secondary: #E5E9EC;
$primary: #3D5C6E;
$smalltitle: #777777;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'danger': #E93512,
  
);


/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';